<div ng-app="formview" ng-controller="FormviewCtrl as formview">
    <h2>Subreddit browser</h2>
    <div>
      <input type="text" ng-model="formview.subreddit" required>
      <button ng-click="formview.getFromReddit()">Browse</button>
    </div>
    <div>
      <span ng-repeat="c in formview.results">
        <p>
          <img src="{{c.thumbnail}}" alt=""></img>
          <a href="http://reddit.com{{c.url}}" ng-bind-html="c.contentT"></a>
          <a href="#/commentsview/{{c.id}}">Comments</a>
        </p>
      </span>
    </div>
</div>
